body {
    margin: 0;
    background: #231202;
    color: #ffffff;
    font-family: sans-serif;
}

.container {
    /* box-sizing: content-box; */
    max-width: 700px;
    margin: 0 auto;
    background-color: #00000033;
    border-radius: 70px;
    padding: 60px 0;
}

section {
    padding: 0 40px;
}

span.material-symbols-outlined {
    user-select: none;
}

h2 {
    margin-top: 40px;
    margin-bottom: 15px;
}

input {
    border-radius: 13px;
    height: 35px;
    text-align: center;
    font-size: 90%;
    border-width: 0px;
    outline: none;
    margin: 0;
    padding: 0 20px;
}

input[type="range"] {
    padding: 0;
}

input[type="number"] {
    background: #ffffff;
    padding: 0;
    text-indent: 7px;
    padding-block: 0px;
    padding-inline: 0px;
    color: #231202;
    border-color: #ff8818;
    border-width: 1px;
    border-style: solid;
}

input[type="button"] {
    background: #a25309;
    font-weight: bold;
    height: 35px;
    color: #fff;
}

button {
    background: #a25309;
    color: #fff;
}

button:hover, input[type="button"]:hover {
    background: #884507;
}

button:active, input[type="button"]:active {
    background: #773d06;
}

section.ip input[type="number"] {
    width: 50px;
}

section .section_container {
    width: max-content;
    margin: 0 auto;
}

section.configuraciones form > div {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
}

section.configuraciones input[type="range"] {
    margin-right: 10px;
}

section.configuraciones label {
    display: block;
    margin-bottom: 5px;
}

section.controles > div {
    height: 120px;
    width: 120px;
    position: relative;
}

section.controles button {
    outline: none;
    border: none;
    width: 39px;
    height: 39px;
    margin: 0;
    position: absolute;
}

.flecha.arriba {
    left: 40px;
}
.flecha.derecha {
    right: 0;
    top: 40px;
}
.flecha.abajo {
    top: 80px;
    left: 40px;
}
.flecha.izquierda {
    top: 40px;
}